
* {
    box-sizing: border-box;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: rgb(60, 17, 5);
    background-image: url("/images/glass.jpg");
   background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: contain;*/
    padding: 50px;
}

.main-container {
   position: relative;
    padding: 20px;
    background-color: #F39E2F;
    border-radius: 27px;
    box-shadow: 0 0 5px #000000;
    opacity: 0.75;
    width: 40%;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 20px;
    z-index: -1;
}
header {
   position: fixed;
   left:0;
   top:0;
   width:100%;
   background:#A42E12;
   opacity: 0.75;
   text-align: center;
}

footer {
   position: fixed;
   left:0;
   bottom:0;
   width:100%;
   background:#A42E12;
   opacity: 0.75;
   text-align: center;
}

img {
   border-radius: 15px;
   padding: 0;
   border: 2px solid #ddd;
   margin: 10px;
}
